{% extends 'admin/base.html' %}

{% block title %}
    Admin Panel
{% endblock %}

{% block header %}
    Admin Panel
{% endblock %}

{% block navbar_search %}
<ul class="navbar-nav">
    <li class="nav-item">
        <input id="searchbar" name="searchbar" class="form-control me-2" placeholder="Search" type="text" aria-label="Search" onkeyup="searchbar()">
    </li>
</ul>
{% endblock %}

{% block content %}
    {% if routes %}
        <div class="row row-cols-1 row-cols-md-2 g-4" id="data">
            {% for route in routes %}
            <div class="col">
                <div class="card">
                    <div class="card-header bg-dark">
                        <h5 class="card-title text-white">{{ route[0] }}</h5>
                    </div>
                    <div class="card-body">
                        <p class="card-text">{{ route[2] }}</p>
                        <a class="btn btn-dark" href="{{ url_for('admin.' + route[1]) }}">Go</a>
                    </div>
                </div>
            </div>
            {% endfor %}
        </div>
    {% endif %}
{% endblock %}|