{% extends 'admin/base.html' %}

{% block header %}
  <h1>{% block title %}New User{% endblock %}</h1>
{% endblock %}

{% block content %}
  <form method="post">
    <div class="mb-3">
      <label for="email" class="form-label">Email</label>
      <input name="email" id="email" required class="form-control">
    </div>
    <div class="mb-3">
      <label for="name" class="form-label">Name & Last name</label>
      <input name="name" id="name" required class="form-control">
    </div>
    <div class="mb-3">
      <label for="role" class="form-label">Role</label>
      <input name="role" id="role" class="form-control">
    </div>
    <div class="mb-3">
        <label for="type" class="form-label">Type:</label>
        <select id="type" name="type" class="form-select">
            <option value="admin" >Admin</option>
            <option value="user" selected>User</option>
        </select>
    </div>
    <div class="mb-3">
      <label for="password" class="form-label">Password</label>
      <input type="password" name="password" id="password" required class="form-control">
    </div>
    <input class="btn btn-dark" type="submit" value="Create user">
  </form>
{% endblock %}